@media screen and (min-width: 800px) {
    *{
        margin: auto;
        padding: auto;
    }
    
    body{
        text-align: center;
        text-justify: center;
    }
    
    #container{
        margin-top: 1.5em;
        width:615px;
        height:615px;
    }
    
    /*.linha{
        height:200px;
        border-bottom:solid 1px;
    }*/
     
    .casa{
        width: 200px;
        height: 200px;
        border:solid 1px;
        position: flex;
        float:left;
    }
    
}
